__pycache__/
*.json
*.log
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.ini
.vscode/
.idea

ajustar_comissoes_especiais.py

/data/*.xlsx
/data/input/*
/data/output/*
/data/temp_files/*
/docs/*

!/data/input/.gitkeep
!/data/output/.gitkeep
!/data/temp_files/.gitkeep
!/docs/.gitkeep

